*.gz
*.dmp
*.tsv
Makefile
*.komodoproject
data/GBIF/taxonomy-search-*
data/INPARANOID
.DS_Store
_Inline/
MYMETA.*
results/primates/*
results/specieslists/*
results/alcids/*
results/alcids_bak/*
results/sea/*
results/bootstrap/*
results/gentianales-2013/*
data/FOSSILS/*
